@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Josefin Sans", sans-serif;
}

.footerLink:hover {
  transform: rotateY(180deg);
}

.animate__animated.animate__fadeInDown {
  --animate-duration: 0.5s;
}

.loader {
  width: 100px;
  height: 100px;
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-top-color: #ff2020;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  z-index: 10;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 5px 0 rgb(35 181 185 / 15%);
  box-shadow: 0 1px 5px 0 rgb(35 181 185 / 15%);
  background-color: #ffffff;
  -webkit-animation: zoom 2000ms infinite ease;
  animation: zoom 2000ms infinite ease;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.loaderImg {
  position: absolute;
  top: 50%;
  z-index: 200;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-top: 6px;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.loaderImg img {
  max-width: 55px;
}

.loginBg {
  background-image: -webkit-linear-gradient(
    90deg,
    #b08ead 0%,
    #4b3049 64%,
    #b08ead 100%
  );
  background-image: linear-gradient(
    90deg,
    #b08ead 0%,
    #4b3049 64%,
    #b08ead 100%
  );
  background-size: 200% auto;
}

.heartbeat {
  animation: heartbeat 1s infinite alternate;
}

@keyframes heartbeat {
  100% {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
  }
}

@keyframes zoom {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
  }
}
